.part1{
    width: 60%;
    height: 80vh;
    
    
}

#oo{
    color:rgb(16, 16, 249);
    font: bold;
}
.part1 > form{
    width: 70%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 30px;
    gap: 30px;
    margin-left: 40px;
    /* background-color: violet; */
    
}
.part1 > form > input{
    width: 70%;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-size: 18px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;}
.todo{
    display: flex;
}
.todo > .part1{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.part1 > form > button{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(16, 16, 249);
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.part1 > form > textarea{
    width: 70%;
    height: 100px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-size: 18px;
    resize: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}





.part2{
    width: 90%;
    height: 85vh;
/* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    margin-top: 55px; */
    padding: 25px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    margin-top: 55px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   /* background: linear-gradient(135deg, #fce7f3, #e9d5ff); */
   background-color: white;
   border-radius: 20px;
    overflow-y: auto;
    scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;  
}


.todo-con{
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 20px;
}

.part2 > .todo-con > .item{
   background: white;
    color: black;
    padding: 15px;
   background-color: aqua;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    font-size:x-small;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: 7px;
   transition: all 0.3s ease;
   padding-left: 30px;
}
.part2 > .todo-con > .item:hover{
    background-color: rgb(0, 225, 255);
    cursor: pointer;
    color: black;
    transform: scale(1.02);
 
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.part2 > .todo-con > .item > p{
    font-size: 13px;

}
.part2  h1{
    display: flex;
    justify-content: center;
    align-self: start;
    color: black;
    text-shadow: 2px 2px 4px #aaa;

}

/* .action{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 10px;
} */
.b1{
     width: 40px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgb(16, 153, 16);
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding: 5px;
    transition: all 0.3 ease-in-out;


}
.b2{
    width: 40px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: red;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 20px;
     padding: 5px;
     transition: all 0.3 ease-in-out;
}

.b1:hover{
    background-color: rgb(6, 107, 6);
    transform: scale(1.05);
    
    
}
.b2:hover{
    background-color: rgb(141, 7, 7);
    transform: scale(1.05);
}
#tt{
    color: blue;
    text-shadow: 2px 2px 4px rgb(0, 60, 255);
    
}
.fin{
    opacity: .5;
}
