@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  
}

body{
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  /* background: linear-gradient(135deg, #fdfbfb, #ebedee); */
  /* background: #f5f7fb; */
  /* background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%); */

  
}

#root{
  min-height: 100vh;
  width: 100%;
}

section{
  min-height: 100vh;
  width: 100%;
  padding: 30px;
 
}

